{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block title %}Phishing Platform{% endblock %}

{% block content %}
<div class="p-4">
    <h2 class="mb-4">Email Template</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Subject</label>
            <input 
                type="text" 
                name="subject" 
                class="form-control" 
                value="{{ template.subject }}"
                required
            >
        </div>
        <div class="mb-3">
            <label class="form-label">Body</label>
            <textarea 
                name="body" 
                class="form-control" 
                rows="10"
                required
            >{{ template.body }}</textarea>
            <small class="text-muted">
                You can use 
                &lbrace;&lbrace; track_open &rbrace;&rbrace; and &lbrace;&lbrace; track_click &rbrace;&rbrace; 
                to track openings/clicks
            </small>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}